return {
	[101] = { id = 101, harbor_id = 1, name = "ctrlweb", is_snx = false, global_name = "ctrlweb", stop_time = 100, },
	[102] = { id = 102, harbor_id = 1, name = "httpclient", is_snx = false, global_name = "httpclient", stop_time = 100, },
	[103] = { id = 103, harbor_id = 1, name = "dbmgr", is_snx = false, global_name = "dbmgr", stop_time = 100, },
	[104] = { id = 104, harbor_id = 1, name = "agentmgr", is_snx = false, global_name = nil, stop_time = 100, },
	[105] = { id = 105, harbor_id = 1, name = "function", is_snx = false, global_name = "function", stop_time = 100, },
	[106] = { id = 106, harbor_id = 1, name = "productlog", is_snx = false, global_name = "productlog", stop_time = 100, },
	[107] = { id = 107, harbor_id = 1, name = "login", is_snx = false, global_name = "login", stop_time = 100, },
	[108] = { id = 108, harbor_id = 1, name = "activitymgr", is_snx = false, global_name = "activitymgr", stop_time = 100, },
	[109] = { id = 109, harbor_id = 1, name = "msgbox", is_snx = false, global_name = "msgbox", stop_time = 100, },
	[110] = { id = 110, harbor_id = 1, name = "mailmgr", is_snx = false, global_name = "mailmgr", stop_time = 100, },
	[111] = { id = 111, harbor_id = 1, name = "bulletin", is_snx = false, global_name = "bulletin", stop_time = 100, },
	[112] = { id = 112, harbor_id = 1, name = "rankmgr", is_snx = false, global_name = "rankmgr", stop_time = 100, },
	[113] = { id = 113, harbor_id = 1, name = "mall", is_snx = true, global_name = "mall", stop_time = 100, },
	[114] = { id = 114, harbor_id = 1, name = "offlinemgr", is_snx = false, global_name = "offlinemgr", stop_time = 100, },
	[115] = { id = 115, harbor_id = 1, name = "minemgr", is_snx = false, global_name = nil, stop_time = 100, },
	[116] = { id = 116, harbor_id = 1, name = "workermgr", is_snx = true, global_name = "workermgr", stop_time = 100, },
	[117] = { id = 117, harbor_id = 1, name = "trademgr", is_snx = true, global_name = "trademgr", stop_time = 100, },
	[118] = { id = 118, harbor_id = 1, name = "recharge", is_snx = true, global_name = "recharge", stop_time = 100, },
	[119] = { id = 119, harbor_id = 1, name = "luckydraw", is_snx = false, global_name = "luckydraw", stop_time = 100, },
	[120] = { id = 120, harbor_id = 1, name = "gameweb", is_snx = false, global_name = "gameweb", stop_time = 100, },
	[121] = { id = 121, harbor_id = 1, name = "chainproxy", is_snx = false, global_name = "chainproxy", stop_time = 500, },
	[122] = { id = 122, harbor_id = 1, name = "minelog", is_snx = false, global_name = "minelog", stop_time = 100, },
	[123] = { id = 123, harbor_id = 1, name = "minestate", is_snx = false, global_name = "minestate", stop_time = 100, },
	[124] = { id = 124, harbor_id = 1, name = "agentmaker", is_snx = false, global_name = "agentmaker", stop_time = 100, },
}
